<div class="col-lg-12 col-md-6 mb-4">
  <div
    class="meal-card position-relative overflow-hidden rounded-3 shadow-sm h-100 "
  >
    <img
      [src]="category.strCategoryThumb"
      class="w-100 meal-image"
      [alt]="category.strCategory"
    />
  
      <h3 class="meal-title  text-center m-2">
        {{ category.strCategory }}
      </h3>
    
    <div class="p-2 ">
      <p class="meal-description text-muted small text-center">
        {{ category.strCategoryDescription }}
      </p>
      <a
        [routerLink]="['/categories', category.strCategory]"
        class=" button btn btn-sm "
      >
        View Meals
      </a>
    </div>
  </div>
</div>
