<div class="container my-5">
    <h2 class="text-center about-title">Meet Team</h2>
    <div class="row justify-content-center mt-5 g-4">

      <div class="col-md-4 col-lg-3 text-center">
        <div class="team-member">
          <img src="../../assets/img.jpg" alt="Team Member 1" class="team-img" />
          <div class="member-name">Reham Hatem</div>
          <div class="member-role">Full Stack Developer</div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 text-center">
        <div class="team-member">
          <img src="../yara.jpg" alt="Team Member 2" class="team-img" />
          <div class="member-name">Amira el taher</div>
          <div class="member-role">Full Stack Developer</div>
        </div>
      </div>
    </div>
  </div>
 